*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(12, 12, 12); */
    height: 100vh;
  
}

header{
    width: 100%;
    background-color: rgb(17, 13, 20);
    color: azure;
    margin-bottom: 20px;
    justify-content:left;
    text-align:center;
    display: flex;
  /*   border: 2px  solid red; */ /* para saber lo que ocupa el header */
    padding: 3px;}
ul{
  
list-style:none;
display: flex;
gap: 30px;
justify-content: end;
} 

a{
text-decoration: none;
color: rgb(241, 241, 250);
font-size: 20px;
transition: all 0,2s;
}
li a:hover{
   /*  color:rgb(233,20,20); */
   text-decoration:underline;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0,2s;
}

main{
    padding: 30px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.col-lg-4{
    margin:0 !important;
    padding:20px;
 }
.galeriaimg{
width: 100%;
height: 350px;
gap: 20px;
}
.galeriaimg:hover{
border: 5px solid floralwhite;
}
.tablafondo{
    margin: auto;
    display: block;
    vertical-align: middle;
    position: relative;
    border: 2px solid rgb(251, 247, 247);
    border-radius: 8px;
    }
    
.imgtabla{
    background-image:url("../imagen/imgtabla.jpg");
    opacity:60%;
}
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 100px;
    right: 100px;
    background-image:url(../imagen/whatsapplogo.jpg);
    color:white; 
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: opx 1px 10px rgba(0,0,0,0.3);
    z-index: 100;}

.btn-wsp:hover{
    text-decoration: none;
    background-color:rgb(6, 196, 6);
    color: rgb(235, 245, 235);
}    
td{
    color:#0a0a0a;
    justify-content: center;
    border: 2px solid rgb(251, 247, 247);
    gap: 20px;
    padding: 10px;
    
}
.miclaseCss{
background-color:rgb(138, 136, 136);
color: white;
font-style:inherit;
font-weight:900; /*cambia el tamaño de la funte*/
text-align: center; 
width: 200px;
height: 20px;
border-radius: 17px; /*redondea lineas*/
box-shadow: 10px 10px 20px rgb(13, 13, 13); /*sombreado*/
}
.tabladehorarios{ /*cambia el estilo de la fuente*/
    font-style: italic;
    color:rgb(242, 237, 237);
}
.tabladedias{
    font-weight:bold;
    font-size:small;
    color: rgb(242, 237, 237);
}
.contacto{
    display: grid;
    grid-template-columns: 300px 200px 200px;
   justify-content: center;
}
.contentcontacto1{
    grid-column-start: 1;
    grid-column-end: 3;
   
}
.contentcontacto2{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
   
}
.contentcontacto3{
    grid-column-start: 1;
    grid-column-end: 4;
}
.contentcontacto4{
    grid-column-start: 1;
    grid-column-end: 4;
}
.formulario{
    background-color:rgb(95, 96, 97);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(112, 110, 110);
    border-radius: 10px;
    padding: 10px;
    width: 250px; 
    height: 500px;

}
.imagenformulario{
    opacity:inherit;
   
}
.button{
    cursor: pointer;
    border-radius: 4px;
}

#titulos{
text-align: center;
text-transform: uppercase;
font-weight: bold;
}
.quienessomos{
    display: grid;
    grid-template-columns: 300px 200px 200px;
    margin-top: 10px;
    padding: 20px;
    gap: 10px;
    justify-content: center;
}
.contentquienessomos1{
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    

}
.contentquienessomos2{
    
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
   
}
.contentquienessomos3{
  
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

}

.contentquienessomos4{
    background-color: rgb(8, 8, 8);
    color: aliceblue;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}
.contentquienessomos5{
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;}
    
.containersedes{
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}
.cardsedes{
    width: 200px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(244, 246, 247);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    }
     
.cardimage {
    width: 100%;
    border-radius: 8px;
}    
.cardtitle{
font-weight: bold;
font-size: 18px;
}
.cardinfo{
    color: black;
    font-size: 0.9rem;
}
.cardbutton{
    padding: 8px 16px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(67, 176, 240);
    color: antiquewhite;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    transition: all 0.3s;
}
.cardbutton:hover{
    background-color: rgb(0, 81, 255);
    box-shadow: inset 0 0 6px white;
}
.entrenamiento{
display: flex;
justify-content: center;

}
footer{
    background-color: rgb(78, 77, 78);
    color: rgb(238, 240, 243);
    margin-top: auto;
    display: grid;
    place-items: center;
    }

    @media (min-width: 717px) {
        .header{
            flex-direction: column;
        }
        .header{
            font-size: 2rem;
        }
    }
      @media (min-width:320px){
        .containersedes{
            grid-template-columns: 1fr;
        }

        
      }